<footer class="primary-bg pt-5 text-center">
    <div class="container-fluid">
        <div class="row py-5 text-white">

            <div class="col-md-4 mb-5 mb-md-0">
                <h2>location</h2>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
    
            <div class="col-md-4 mb-5 mb-md-0">
                <h2>Check My Profiles</h2>
                <div class="flex-center mt-3 mx-auto gap-3">
                    <a href="https://www.facebook.com/m7md.masry/" target="_blank"><div class="ico flex-center"><i class="fa-brands fa-facebook"></i></div></a>
                    <a href="https://www.linkedin.com/in/mohamed-e-ahmed/" target="_blank"><div class="ico flex-center"><i class="fa-brands fa-x-twitter"></i></div></a>
                    <a href="https://www.linkedin.com/in/mohamed-e-ahmed" target="_blank"><div class="ico flex-center"><i class="fa-brands fa-linkedin-in"></i></div></a>
                    <a href="https://www.linkedin.com/in/mohamed-e-ahmed/" target="_blank"><div class="ico flex-center"><i class="fa-solid fa-globe"></i></div></a>
                </div>
            </div>
    
            <div class="col-md-4 mb-2 mb-md-0">
                <h2>About freelancer</h2>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>

    <div class="bg-dark py-3 text-white">
        <p>Copyright © Masry 2024</p>
    </div>
</footer>