<section class="secondary-bg">
    <div class="container">
        <div class="flex-center flex-column w-100 text-center">
            <h1>About component</h1>
            <div class="header-icon position-relative flex-center my-3">
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="row px-5">
                <div class="col-md-6 ps-0 ps-lg-5">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
                <div class="col-md-6 ps-0 pe-lg-5">
                    <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                </div>
            </div>
        </div>
    </div>
</section>