<section class="secondary-bg home-section">
    <div class="container">
        <div class="flex-center flex-column w-100 text-center">
            <div class="text-center">
                <img src="./assets/images/avatar.svg" class="w-100 px-0 mb-4 px-lg-5"  alt="">
            </div>
            <h1>Start framework</h1>
            <div class="header-icon position-relative flex-center my-3">
                <i class="fa-solid fa-star"></i>
            </div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </div>
</section>